/* Contenedor del artista */
#ficha {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the start */
    gap: 0; /* Remove gap */
    padding: 0; /* Remove padding */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.9375rem; /* 15px to rem */
    width: 83.33%; /* Percentage-based width */
    height: auto; /* Adjust height automatically */
    margin-left: 8.33%; /* 1/12 of the width */
    margin-right: 8.33%; /* 1/12 of the width */
    margin-top:3%;
    backdrop-filter: blur(0.75rem); /* 12px to rem */
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3); /* 4px 10px to rem */
    position: relative; /* Make the position relative to contain absolutely positioned children */
}


/* Centering h1 and adding margin */
h1 {
    text-align: center;
    text-transform: capitalize; /* Make text uppercase */
    font-weight: normal;
}

/* Botón de cierre (X) en la esquina superior derecha */
#cross {
    position:  absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background: none; /* Ensure no background */
    padding: 0; /* Remove padding */
}

#cross a {
    text-decoration: none;
    color: var(--color-blanco);
}

#cross:hover a {
    color: var(--color-morado);
}

/* Carrusel de fotos */
#ficha > figure {
    position: relative;
    width: 40%; 
    height: 100%; 
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

#ficha > figure img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene las dimensiones de la imagen aunque cambie */
    object-position: center; /* Centra la imagen dentro del contenedor */
    border-radius: 0.9375rem; 
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3); 
}

#carrusel {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.anterior, .siguiente {
    color: var(--color-blanco);
    font-size: 2rem;
    font-weight: bold;
    padding: 0.625rem; /* 10px to rem */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    text-decoration: none; /* Remove underline */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem; /* Ajusta el ancho */
    height: 3rem; /* Ajusta el alto */
}

.anterior:hover, .siguiente:hover {
    background: var(--color-morado);
}


/* Información del artista */
#artista-info {
    position: relative;
    flex: 1; /* Take the remaining space */
    color: var(--color-blanco);
    padding: 3.125rem; /* 50px to rem */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    padding-left: 10%;
    padding-right: 10%;
}

#artista-info header {
    background: transparent;
    margin-top: 0rem;
    padding-top: 0rem;
    border-bottom: 0.05em solid var(--color-blanco); /* Añade un borde inferior de 1px (0.1rem) de color blanco */

}

#artistas-title {
    font-weight: normal; /* Remove bold */
    text-transform: uppercase; /* Make text uppercase */
    padding-bottom: 0; /* Remove padding */
    margin-bottom: 0rem; /* 20px to rem */
}

#trayectoria {
    margin-top: 1rem;
}
/* Trayectoria and Próximos eventos titles */
#trayectoria h3,
#proximosEventos h3 {
    color: var(--color-azul1);
    text-align: left; /* Align titles to the left */
    font-size: 1.25rem; /* 24px to rem */
    font-weight: regular;
}

/* Canción */
#cancion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0;
    background: var(--color-azul1);
    padding: 0.2rem;
    padding-right: 0.5rem;
    border-radius: 0.625rem;
}


#portada {
    width: 4rem;
    height: 4rem;
    border-radius: 0.625rem; /* 10px to rem */
    box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.2); /* 2px 2px 10px to rem */
    flex-shrink: 0;
}


#cancion a img,
#icono {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#reproductor {
    display: flex;
    align-items: center;
    gap: 1rem; /* Ajusta el valor del gap según sea necesario */
    margin-bottom: 0rem;
}

#reproductor a img,
#icono {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#reproductor a img:hover,
#icono:hover {
    transform: scale(1.1);
}
 
#cancion a{
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Archivo', Arial, Helvetica, sans-serif;
    color: var(--color-blanco);
}
#cancion a:hover{
    text-decoration: none;
    color: var(--color-morado);
}

#proximosEventos ul {
    list-style: disc inside; /* Cambia el estilo de la lista a puntos y coloca los puntos dentro del contenedor */
    padding-left: 1.5rem; /* Ajusta la sangría según sea necesario */
}

#proximosEventos li {
    padding: 0.5rem 0; /* 8px to rem */
    font-size: 1rem;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2); /* 1px to rem */
}

#proximosEventos li:last-child {
    border-bottom: none;
}


